body{
	background:url(/assets/img/dining.jpg);
	background-size: 135% 115%;

	background-repeat: no-repeat;
	/*background-position: 0px 150px;*/
	background-color: rgba(59,103,140,.25);
	text-align: center;
}

.show-box {
	box-shadow: 0px 0px 10px rgba(8, 59, 112, 1);
}

.form-box {
	margin-top: 0px;
}
/*****************************************/
/*               Navbar                  */
/*****************************************/

.nav,
.navbar {
	background-color: white;
}

.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover {
	background-color: #083b66;
	color: white;
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: #083b66;
	color: white;
}

.btn-fb {
	color: #fff;
	background-color:#3b5998;
}

.btn-fb:hover {
	color: #fff;
	background-color:#496ebc;
}

.btn-tw {
	color: #fff;
	background-color:#55acee;
}

.btn-tw:hover {
	color: #fff;
	background-color:#59b5fa;
}

#navbar-collapse-1 > ul:nth-child(1) > li.dropdown.open > ul {
	background-color:rgba(255,255,255,.7);
}

#profile {
	width: 250px;
	height: 250px;
}

#navbar-collapse-1 > ul:nth-child(1) > li.dropdown.open > ul > li:nth-child(4),
#navbar-collapse-1 > ul:nth-child(1) > li.dropdown.open > ul > li:nth-child(6) {
	background-color: #888;
}

#navbar-collapse-1 > ul:nth-child(1) > li.dropdown.open > a,
#navbar-collapse-1 > ul:nth-child(1) > li.dropdown.open > a:hover,
#navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li.dropdown.open > a,
#navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li.dropdown.open > a > b:hover,
#navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li.dropdown.open > a > b:active,
body > nav > div > div.navbar-header > button > span.sr-only:active {
	color: white;
	background-color: #083b66;
}

#navbar-collapse-1 > ul:nth-child(1) > li.dropdown > a:hover,
#navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li.dropdown > a > b:hover,
#navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li.dropdown > a,
.hvr-icon-dropdown,
.navbar-inverse .navbar-nav>li>a,
#login-nav > div.checkbox > label,
#login-dp > li > div > div.bottom.text-center,
#navbar-collapse-1 > ul:nth-child(1) > li.dropdown > a {
	color: #67746d;
}

#logo {
	height: 50px;
	position: relative;
	bottom: 15px;
	float: left;
}

#login-dp {
	min-width: 250px;
	padding: 14px 14px 0;
	overflow:hidden;
	background-color:rgba(255,255,255,.8);
}

#login-dp .help-block {
	font-size:12px    
}

#login-dp .bottom {
	background-color:rgba(255,255,255,.8);
	border-top:1px solid #ddd;
	clear:both;
	padding:14px;
}

#login-dp .social-buttons {
	margin:12px 0;
	margin-bottom: 5px;    
}

#login-dp .social-buttons a {
	width: 98%;
}

#login-dp .form-group {
	margin-bottom: 10px;
}

#nav-image {
	max-height: 40px;
	max-width: 40px;
	position: relative;
	top: 5px;
}

@media(max-width:768px) {
	#login-dp {
		background-color: inherit;
	}
	#login-dp .bottom {
		background-color: inherit;
		border-top:0 none;
	}

	.top-content .text { margin-top: 50px; padding-top: 0; padding-bottom: 60px; }
	.top-content .top-big-link { margin-top: 25px; }
	.top-content .top-big-link a.btn { margin-top: 10px; }
}

@media(min-width: 800px) and (min-height: 745px){
	.footer-bottom {
		position: absolute;
		bottom: 0px;
	}
}








/********************************/
/*      Navbar Animations       */
/********************************/

/* dropdowns */

@-webkit-keyframes hvr-icon-dropdown {
	0% {
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
	}
	50% {
		-webkit-transform: translateY(2px);
		transform: translateY(2px);
	}
	100% {
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
	}
}

@keyframes hvr-icon-dropdown {
	0% {
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
	}
	50% {
		-webkit-transform: translateY(2px);
		transform: translateY(2px);
	}
	100% {
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
	}
}

@-webkit-keyframes hvr-icon-dropdown-sink {
	100% {
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
	}
}

@keyframes hvr-icon-dropdown-sink {
	100% {
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
	}
}

.hvr-icon-dropdown {

	color: #67746d;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	padding-right: 2.2em;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.hvr-icon-dropdown:before {
	content: "\f078";
	color: #67746d;
	position: absolute;
	right: 1em;
	padding: 0 1px;
	font-family: FontAwesome;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}


.hvr-icon-dropdown:focus:before {
	color: white;
	transition: .3s;
}

.hvr-icon-dropdown:hover:before, 
.hvr-icon-dropdown:focus:before, 
.hvr-icon-dropdown:active:before{
	
	-webkit-animation-name: hvr-icon-dropdown-sink, hvr-icon-dropdown;
	animation-name: hvr-icon-dropdown-sink, hvr-icon-dropdown;
	-webkit-animation-duration: .3s, 1.5s;
	animation-duration: .3s, 1.5s;
	-webkit-animation-delay: 0s, .3s;
	animation-delay: 0s, .3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
}


/* Hover background */

.hvr-background {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  background: #fff;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-background:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #083b66;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-background:hover, 
.hvr-background:focus, 
.hvr-background:active {
  color: white;
}

.hvr-background:hover:before, 
.hvr-background:focus:before, 
.hvr-background:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

/****************************/
/*          Footer          */
/****************************/

.footer-bottom {
	margin-top: 0px;
	clear: both;
	bottom: 0px;
	padding-top: 20px;
	text-align: left;
	margin-left: 2%;
}

