.col-sm-4 {
	/*width: 50vw;*/
	/*height: 100vh;*/
	border: 1px solid black;
	float: left;
}

.col-sm-8 {
	/*width: 50vw;*/
	/*height: 100vh;*/
	border: 1px solid black;
}

.map {
	height: 75vh;
	width: 75vw;
}