.container {
	background-color: none;
	
}

#map {
	height: 80vh;
	border: 1px solid black;
	margin-bottom: 2%;
	border-radius: 5px;
}

.col-sm-7 {
	padding-right: 0;

}

.list {
	background: rgba(8, 59, 112, .65);
	border: 1px solid #d5b33b;
	padding: 0px;
	color: #d5b33b;
	border-radius: 5px;
	overflow: hidden;
    position: relative;
    width: 100%;
	
}

#results > div > p > img {
	height: 100%;
    width: 25%;
    position: absolute;
    left: 0;
    top: 0;
}