
.container {
	width:95%;
}

#map {
	width: 50vw;
	height: 80vh;
	border: 1px solid black;
	margin-bottom: 2%;
	border-radius: 5px;
	position: fixed !important;
	right: 2%;
	top:0px;
	margin-top: 70px;
}

.col-sm-7 {
	padding-right: 0;

}

.action {
	visibility: hidden;
}

.list {
	background: rgba(8, 59, 112, .85);
	padding: 0px;
	color: #d5b33b;
	border-radius: 10px;
	overflow: hidden;
    position: relative;
    right: 145%;
    width: 120%;
    margin-top: 5px;
    margin-right: 10px !important;	
}
body > div > div > div.col-sm-5 {
	padding-left: 0px;
	position: relative;
	right: 10px;
}

.submit {
	background: none;
	border: none;
}

.submit:hover {
	color: #d5b33b;
	border: 2px solid #d5b33b;
}

.submit:active {
	border: none;
	outline: none;
}

 .left {
	height: 100%;
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
}

.info {
	text-align: center;
    width: 50%;
    float:right;
	padding-top: 5px;
}

#results {
    margin-top: 70px;
    margin-bottom: 90px;
}

#createEvent {
	width: 2%;
	margin: 0 auto;
}

@media (min-width: 1100px) {
	.left {
		width:30%;
	}
	.info {
		width: 70%;
	}
	.list {
		width: 90%;
		right: 135%;
	}
	#map {
		right: 4%;
	}
}

@media screen and (max-width: 765px) {
	#map {
		position: static !important;
		top: 0px;
		right: 5px;
		width: 100%;
		height: 40vh;
		margin-left: 7%;
		border:none;
	}
	.list {
		position: relative;
		right: -10%;
		top: 10px;
		width: 100%;
		margin-left: 4%;
	}
	
}
