/**********************************/
/*          Landing         */
/**********************************/

.row {
	margin-top: 1%;
	margin-bottom: 3%;
}

.inner-bg {
    margin-top: 8%;
    display: inline-block;
}

.top-content .text {
	background-color: rgba(8, 59, 112, .85);
	color: #d5b33b;
	font-size: 1.4em;
	height: 75vh;
	text-align: center;
	padding: 3%;
}


/*----------------------- BUTTONS -----------------------*/
.btn:hover {
	transition: .5s;
	color: #d5b33b !important;
}


/*----------------------- LEFT DIV -----------------------*/
div.text.animated.zoomIn.col-sm-6 {
	position: relative;
}

/* SUBMIT BUTTON */
body > div > div > div > div > div.text.col-sm-6 > form > div.col-xs-offset-3 > button {
	font-weight: bold;
}

form {
	margin-top: 50px;
	margin-right: 100px;
}

.form-control {
	margin: 2px !important;
}


/*----------------------- OR DIV -----------------------*/
body > div > div > div > div > div.text.col-xs-6 > div {
	margin-top: 15%;
}

.form-top {
	overflow: hidden;
	color: #d5b33b;
	padding: 0 25px 0px 25px;
	background: rgba(8, 59, 112, .85);
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	color: #d5b33b;
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; color: #d5b33b;}

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #d5b33b;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 0px 25px;
	background: rgba(8, 59, 112, .65);
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}


.or {
	position: absolute;
	z-index: 1000;
	font-size: 6em;
	color: #d5b33b;
	font-family: 'Bevan', cursive;
	width: 205px;
	top: 45.5%;
	left: 44.5%;
}

@media(min-width: 1200px) {
	.top-line {
		position: absolute;
	    border: 6px solid #d5b33b;
	    height: 26vh;
	    top: 0;
	    left: -.5vw;
	    z-index: 1000;
	    border-bottom-left-radius: 15px; 
	    border-bottom-right-radius: 15px; 
	    animation-delay: .6s;

	}

	.bottom-line {
		position: absolute;
	    border: 6px solid #d5b33b;
	    height: 30vh;
	    top: 45vh;
	    left: -.5vw;
	    z-index: 1000;
	    border-top-left-radius: 15px; 
	    border-top-right-radius: 15px;
	    animation-delay: .6s;
	}
}

@media(max-width: 1200px) {
	.or {
		position: static;
		margin-top: 20px;
		margin-left: 37%;
		font-size: 6em;
		color: #d5b33b;
	}

	body > div > div > div > div > div.text.col-xs-12.col-lg-6 {
		margin-top: -15.35%;
		padding-top: 150px;
		position: relative;
		z-index: -1000;
	}
	.text {
		margin: 0px;
	    width: 100%;
	    min-height: 90vh;
	}
	.container {
		padding: 0px;
	}
	.left-line {
		border: 6px solid #d5b33b;
		width: 32vw;
		position: absolute;
		top:10%;
		left: 0%;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
	}
	.right-line {
		border: 6px solid #d5b33b;
		width: 32vw;
		position: absolute;
		top:10%;
		right: 0%;
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
	}
	.row {
		height: 500px;
	}
	.container {
		height: 500px;	
	}
	.inner-bg {
		height: 500px;
	}
	
}

@media(max-width: 770px) {
	select.form-control {
		position: relative;
		left: 15vw;
		width: 50%;
	}
}

@media(max-width: 801px) and (max-height: 601px) {
	body > div > div > div > div > div.text.col-xs-12.col-md-6 {
		border-radius: 5px 5px 0px 0px;
	}
	.text {
		border-radius: 0px 0px 5px 5px;
	}
	
}


/*----------------------- RIGHT DIV -----------------------*/
/* RANDOM BUTTON */

.btn{
	z-index: 10000 !important;
	height: 10vh;
	width: 100%;
	min-width: 134px;	
    margin: 10px;
    padding: 10px;
    vertical-align: middle;
    background: #d5b33b;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    line-height: 50px;
    color: rgba(8, 59, 112, 1) !important;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}



select.form-control {
	width: 100% !important;
}

.form-horizontal {
	margin-left: 15%;
}

.random-btn {
	margin-top: 30%;
	min-width: 100px;
	width: 20vw;
    background: #d5b33b;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.75em;
    font-weight: bold;
	height: 70px;

    color: rgba(8, 59, 112, 1);
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; 
    -webkit-box-shadow: none; 
    box-shadow: none;
    -o-transition: all .3s; 
    -moz-transition: all .3s; 
    -webkit-transition: all .3s;
    -ms-transition: all .3s; 
    transition: all .3s;
    z-index: 1000 !important;
}


@media screen and (max-width: 770px) {
	.left-line {
		width: 15vw;
	}
	.right-line {
		width: 15vw;
	}
}

@media(max-width: 1200px) {
	.random-btn {
		margin-top: 8%;
		min-width: 206px;
		width: 20vw;
	    background: #d5b33b;
	    border: 0;
	    font-family: 'Roboto', sans-serif;
	    font-size: 1.75em;
	    font-weight: bold;
		height: 70px;

	    color: rgba(8, 59, 112, 1);
	    -moz-border-radius: 4px; 
	    -webkit-border-radius: 4px; 
	    border-radius: 4px;
	    text-shadow: none;
	    -moz-box-shadow: none; 
	    -webkit-box-shadow: none; 
	    box-shadow: none;
	    -o-transition: all .3s; 
	    -moz-transition: all .3s; 
	    -webkit-transition: all .3s;
	    -ms-transition: all .3s; 
	    transition: all .3s;
	    z-index: 1000 !important;
	}
}


