/**********************************/
/*          Landing         */
/**********************************/
.inner-bg {
    padding: 10px 0 50px 0;
}

.row{
	margin-left:0;
}

.top-right {
	float: right;
	color: white;
	text-align: right;
	bottom: 284px;
}
.top-content .text {
	margin-top: 50px;
	margin-right: 0px;	
	padding-top: 25px;
	padding-bottom: 50px;
	background-color: rgba(8, 59, 112, .85);
	color: #d5b33b;
	font-size: 1.4em;
	height: 500px;
	width: 50%;
	border-radius: 10px;
	
}

.top-content .text h1 { color: #d5b33b; }

.top-content img {
	background-color: rgba(255, 255, 255, .5);
	border-radius: 50%;
	border: 5px solid rgba(195, 191, 61, .5);
	box-shadow: 0px 0px 100px #ced9e2;
}

.top-content .description {
	font-size: 1.5em;
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; color: #dcd22a; }

.top-content .description a {
	color: #d5b33b;
}
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #d5b33b; }

.top-content .top-big-link {
	margin-top: 35px;
}

.or {
	position: absolute;
	top: 38%;
	left: 43.5%;
	z-index: 1000;
	font-size: 6em;
	color: #d5b33b;
	font-family: 'Bevan', cursive;
	
	width: 205px;
}

.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 16px 20px 0 20px;
	background: #d5b33b;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


.form-top {
	overflow: hidden;
	color: #d5b33b;
	padding: 0 25px 0px 25px;
	background: rgba(8, 59, 112, .65);
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	color: #d5b33b;
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; color: #d5b33b;}

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #d5b33b;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 0px 25px;
	background: rgba(8, 59, 112, .65);
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form .input-error {
	border-color: #19b9e7;
}

.top-line {
	position: absolute;
    border: 6px solid #d5b33b;
    height: 175px;
    top: -17.25%;
    left: -1%;
    z-index: 1000;
    border-bottom-left-radius: 15px; 
    border-bottom-right-radius: 15px; 
    animation-delay: .6s;

}

.bottom-line {
	position: absolute;
    border: 6px solid #d5b33b;
    height: 215px;
    top: 39.75%;
    left: -1%;
    z-index: 1000;
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
    animation-delay: .6s;
}

.form-control {
	margin: 2px !important;
}
form {
	margin-top: 50px;
	margin-right: 100px;
}

.btn{
	height: 50px;
    margin: 10px;
    padding: 0 20px;
    vertical-align: middle;
    background: #d5b33b;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 50px;
    color: rgba(8, 59, 112, 1) !important;
    
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

body > div > div > div > div > div.text.col-xs-6 > div {
	margin-top: 15%;
}

body > div > div > div > div > div.text.col-sm-6 > form > div.col-xs-offset-3 > button {
	width: 135px;
	margin-right: -40px;
	margin-top: 5px;
}

body > div > div > div > div > div.text.col-xs-6 > div > a {
	width: 50%;
	font-size: 1.5em;
	font-weight: bolder;
	line-height: 100px;
	height: 100px !important;
	
}
body > div > div > div > div > div.text.col-sm-6 > form > div.col-xs-offset-3 > button {
	font-weight: bold;
}

body > div > div > div > div > div.text.animated.zoomIn.col-sm-6 {
	position: relative;
	left: 1px;
}

footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
}
