body{
	padding-top: 75px;
	width: 100%;
	margin-left: 1%;
}

.list {
	background: rgba(8, 59, 112, .85);
	padding: 0%;
	color: #d5b33b;
	border-radius: 10px;
	overflow: hidden;
    width: 100%;
    float: left;
    height: 100%;
    width: auto;
    margin: 1%;
}

.userImg {
	height: 30vh;
	width: 182px;
}

h4 {
	color: #d5b33b;
}

.search {
	text-align: left;
	width: 50%;
	margin-left: 25%;
	margin-bottom: 1%;
}

.form-control{
	min-width: 200px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5.5%;
    /*border: 1px solid red;*/
 }


/* for search bar */
@media (max-width: 550px) {
	form {
		width: 105%;
	}

	.search {
		text-align: left;
		width: 100%;
		margin-left: 0%;
	}
}

/* for images */
@media (max-width: 767px) {
	.row {
		display: block;
		padding-left: 11%;
		width: 100%;
	}
}

@media (max-width: 715px) {
	.userImg {
		width: 50%;
	}
}

body > div.container.center-block {
	padding-left: 7%;
}
