body{
	padding-top: 75px;
}

.list {
	background: rgba(8, 59, 112, .85);
	padding: 0px;
	color: #d5b33b;
	border-radius: 10px;
	overflow: hidden;
    width: 100%;
    margin-top: 10px;
}

.userImg {
	height: 30vh;
	width: auto;
}

/*form {
	width: 32%;
	margin-left: 32%;
	display: block;
	border: 2px solid red;
}*/


h4 {
	color: #d5b33b;
}

.search {
	text-align: left;
	width: 50%;
	margin-left: 25%;
	/*border: 2px solid red;*/
}

.form-control{
	min-width: 200px;
}

@media (max-width: 550px) {
	form {
		width: 108%;
		/*margin-left: 32%;*/
		display: inline-block;
		/*border: 2px solid red;*/
	}
	.search {
		text-align: left;
		width: 100%;
		margin-left: 0%;
		/*border: 2px solid green;*/
	}
}

